<div class="container">
    <!--Title of page-->
    <div class="p-2 text-center bg-light fa-3x">
      <h1 class="mb-1">Home Page</h1>
    </div>

    <br>

    <!--Home page image-->
    <div class="container-img d-flex justify-content-center">
      <img
        src="https://images.unsplash.com/photo-1504674900247-0877df9cc836?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80"
        class="d-block w-50"
      />
    </div>

    <br>

    <!--Routes to login and register-->
    <div class="d-flex justify-content-center">
      <a routerLink="/login">
        <button type="button" class="btn btn-primary">Login</button>
      </a>
      <a routerLink="/register">
        <button type="button" class="btn btn-warning">Register</button>
      </a>
    </div>

    <br>
    <br>

</div>
