<div class="container">

    <!--Page Title-->
    <div class="p-2 text-center bg-light fa-3x">
        <i class="fas fa-question-circle"></i>
        <h1 class="mb-1">Forgot Password</h1>
    </div>

    <!--Forgot password form-->
    <form (ngSubmit)="changePassword()" [formGroup]="forgotPassForm">
        <div class="form-group">
          
            <label for="userName">Username</label>
            <input
              type="text"
              class="form-control"
              placeholder="Enter Username"
              formControlName="userName"
            />

            <label for="email">Email</label>
            <input
              type="email"
              class="form-control"
              placeholder="Enter Email"
              formControlName="email"
            />
            <div *ngIf="forgotPassForm.controls['email'].invalid">
              <p align="right">
                Please enter a valid email
              </p>
            </div>

            <label for="securityQuestion">Security Question</label>
            <select class="form-control" formControlName="securityQuestion">
              <option>Where was your mother born?</option>
              <option>What was your first car?</option>
              <option>What was the first name of your first pet?</option>
              <option>What was your school name?</option>
              <option>Where were you born?</option>
              <option>What model your first smartphone was?</option>
            </select>

            <label for="answer">Answer</label>
            <input
              type="text"
              class="form-control"
              placeholder="Enter Answer"
              formControlName="answer"
            />

            <!--Change password given the right user information-->
            <label for="password">Password</label>
            <input
              type="password"
              class="form-control"
              placeholder="Enter password"
              formControlName="password"
            />

            <!--Error for password input-->
            <div *ngIf="forgotPassForm.controls['password'].invalid">
                <p align="right">
                    Password must be length of 6 or more
                </p>
            </div>

            <br>

            <!--Allow submit if all fields valid-->
            <button class="btn btn-warning btn-lg d-flex justify-content-center" [disabled]="!forgotPassForm.valid">
                Reset Password
            </button>

            <button [routerLink]="['/login']" style="margin-top: 10px"class="btn btn-success btn-lg d-flex justify-content-center">
                Back to Login
            </button>

        </div>
    </form>

    <br>

</div>
