<footer class="text-center text-white" style="background-color: #f1f1f1">
  <br />
  <h6 class="text-black">Spring 2023 LTIMindtree DTAP Java Cohort</h6>
  <!-- Grid container -->
  <div class="container pt-1">
    <!-- Section: Social media -->
    <section class="mb-1">

      <!-- Github -->
      <a
        class="btn btn-link btn-floating btn-lg text-dark m-1"
        href="https://github.com/holysmokes48/lti-capstone-frontend"
        role="button"
        data-mdb-ripple-color="dark"
        ><i class="fab fa-angular"></i
      ></a>

      <!-- Github -->
      <a
        class="btn btn-link btn-floating btn-lg text-dark m-1"
        href="https://github.com/holysmokes48/lti-capstone-backend"
        role="button"
        data-mdb-ripple-color="dark"
        ><i class="fab fa-java"></i
      ></a>

    </section>
    <!-- Section: Social media -->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div
    class="text-center text-dark p-3"
    style="background-color: rgba(0, 0, 0, 0.2)"
  >
    © 2020 Copyright:
    <a class="text-dark" href="https://mdbootstrap.com/">MDBootstrap.com</a>
  </div>
  <!-- Copyright -->
  
</footer>
